body {
    background-color: white;
    font-family: "Arial";
}

h1 {
    color: lightblack;
    background-color: lightblue;
    text-align: center;
    padding: 50px 30px 50px 80px;
}

p {
    font-size: 20px;
}
