* {
    box-sizing: border-box;
  }
  

.container1 {
    background-color: #303d4d;
    color: #fff;
    line-height: 6px;
    font-size: 20px;
    padding-bottom: 1em;
    padding-top: 1em;
}

body {
    background-color:#111;
    text-align: center;
    font-family: Roboto, Ubuntu, Verdana, Arial, Helvetica, sans-serif;
    color: #888;
}

/*-- Foto inicial --*/
#foto {
    width: 300px;
}